h1 {
    text-align: center;
    color: white;
    background-color: black;
    font-size: large;
    padding: 20px;
    margin: 0;
}

button {
    width: 90px;
    height: 50px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block; /* Ensures the button behaves like a block-level element */
    margin: 20px auto; /* Centers the button horizontally within its container */
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    color: black; /* Set the text color to black */
}

button:hover {
    color: red;
}

.social-icon {
    font-size: 2rem; /* Adjust size as needed */
    color: white;
    margin-right: 10px; /* Adjust spacing between icons */
}